<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hero.sm.android.hero"
    android:installLocation="auto">

    <application
        android:name="com.hero.herousdkunitysupport.HeroUSDKApplication"
        android:icon="@mipmap/app_icon"
        android:isGame="true"
        android:label="@string/app_name"
        android:theme="@style/UnityThemeSelector">
        <activity
            android:name="com.hero.herousdkunitysupport.HeroUSDKSplashActivity"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale|layoutDirection|density"
            android:hardwareAccelerated="false"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="reverseLandscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="unityplayer.UnityActivity"
                android:value="true" />
        </activity>
        <activity
            android:name="com.hero.herousdkunitysupport.HeroUSDKUnityPlayerActivity"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale|layoutDirection|density"
            android:hardwareAccelerated="false"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="fullSensor">
            <meta-data
                android:name="unityplayer.ForwardNativeEventsToDalvik"
                android:value="true" />
        </activity>
        <activity
            android:name="org.jar.bloc.BlocActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
            android:name="org.jar.photo.activity.FolderListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"></activity>
        <activity
            android:name="org.jar.photo.activity.ImageSelectActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"></activity>
        <activity
            android:name="org.jar.photo.activity.PreviewImageActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"></activity>
        <activity
            android:name="org.jar.bloc.usercenter.general.UserCenterActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize|fontScale"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:process=":remote"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/BlocUActivityTheme">
            <meta-data
                android:name="bloc_base_activity"
                android:value="@string/bloc_base_activity_value" />
        </activity>
        <activity
            android:name="org.jar.photo.activity.ThumbSelectActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"></activity>
        <activity
            android:name="org.jar.photo.activity.VideoPlayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"></activity>

        <!-- QQ分享的配置 -->
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1106212189" />
                <!-- TODO GAME 这里为游戏QQ的配置，游戏需要将"tencent1105811177"修改为"tencent+自己手Q的appid" -->
            </intent-filter>
        </activity>
        <!-- QQ分享的配置 -->
        <!-- 微信分享的配置 -->
        <activity
            android:name="com.hero.herousdkunitysupport.HeroUSDKWxEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="sdksample" />
            </intent-filter>
        </activity>

        <!-- 扫码登陆使用 -->
        <activity android:name="com.hu.zxlib.base.ScannerActivity" />
        <activity android:name="com.herosdk.activity.HuslActivity" />
        <activity android:name="com.hu.scan.permission.PermissionActivity" />
        <activity
            android:name="com.herosdk.activity.HuslActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/loading_dialog_hu"/>

        <meta-data
            android:name="unity.build-id"
            android:value="9ba2fa04-7438-45d1-a1f8-3db79b9197f5" />
        
        <meta-data
            android:name="unity.splash-mode"
            android:value="0" />
        <meta-data
            android:name="unity.splash-enable"
            android:value="True" />
        <meta-data
            android:name="unity.builder"
            android:value="\12369554499385" />

        <receiver
            android:name="org.jar.bloc.third.wxapi.AppRegister"
            android:permission="com.tencent.mm.plugin.permission.SEND">
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" />
            </intent-filter>
        </receiver>

        <service android:name="org.jar.bloc.BaseService">
            <intent-filter>
                <action android:name="org.jar.league.uc.game" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.jar.league.uc.game.ca" />
            </intent-filter>

            <meta-data
                android:name="bloc_base_servive"
                android:value="@string/bloc_base_servive_value" />
        </service>
    </application>
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-feature android:glEsVersion="0x00020000" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen.multitouch"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen.multitouch.distinct"
        android:required="false" />
    <!--  融合权限相关  -->
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />  
  <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
  <uses-permission android:name="android.permission.READ_PHONE_STATE" />
  <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- 扫码登陆使用权限 -->
  <uses-permission android:name="android.permission.VIBRATE"/>
  <uses-permission android:name="android.permission.CAMERA"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  

</manifest>